<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="intro-container">
    <div class="form-column">
      <%= form.label :name, '名前', class: "form-label" , style: "display: block" %>
      <%= form.text_field :name , class: "form-content" %>
    </div>

    <div class="form-column">
      <%= form.label :email, 'メールアドレス' , class: "form-label" , style: "display: block" %>
      <%= form.email_field :email , class: "form-content" %>
    </div>

    <div class="form-column">
      <%= form.label :password, 'パスワード' , class: "form-label" , style: "display: block" %>
      <%= form.password_field :password , class: "form-content" %>
    </div>

    <div class="form-column">
      <%= form.label :password_confirmation, 'パスワード確認' , class: "form-label" , style: "display: block" %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" , class: "form-content" %>
    </div>

    <%= form.submit '登録', class: 'form-button' %>

  </div>
<% end %>
