<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
      <div class="error-messages" style="left: 25%">
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="intro-container">
    <div class="form-column">
      <%= form.label :name, '名前', class: "form-label" , style: "display: inline" %>
      <small class="form-caution">（10字以内）</small>
      <%= form.text_field :name , class: "form-content" %>
    </div>

    <div class="form-column">
      <%= form.label :email, 'メールアドレス' , class: "form-label" , style: "display: block" %>
      <%= form.email_field :email , class: "form-content" %>
    </div>

    <div class="form-column">
      <%= form.label :password, 'パスワード' , class: "form-label" , style: "display: inline" %>
      <small class="form-caution">（8字以上12字以内）</small>
      <%= form.password_field :password , class: "form-content" %>
    </div>

    <div class="form-column">
      <%= form.label :password_confirmation, 'パスワード確認' , class: "form-label" , style: "display: block" %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" , class: "form-content" %>
    </div>

    <%= form.submit '登録', class: 'form-button' %>

  </div>
<% end %>
