<%= form_with(model: post, class: "tanzaku-form") do |form| %>
    <!--エラーメッセージ処理-->
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tanzaku-content">
    <div class="tanzaku-line">
      <%= form.label :top, "上の句", class: "tanzaku-label" ,style: "display:inline" %>
      <%= form.text_field :top, class: "tanzaku-input" %>
    </div>

    <div class="tanzaku-line">
      <%= form.label :middle, "中の句", class: "tanzaku-label" ,style: "display:inline" %>
      <%= form.text_field :middle, class: "tanzaku-input" %>
    </div>

    <div class="tanzaku-line">
      <%= form.label :bottom, "下の句", class: "tanzaku-label" ,style: "display:inline" %>
      <%= form.text_field :bottom, class: "tanzaku-input" %>
    </div>
  </div>
  <div class="submit-area">
    <%= form.submit '投稿' ,class: "floating-action-button", style:"left :30px"%>
  </div>
<% end %>