<div class="input-area">
  <div class="tanzaku-content">
    <div class="tanzaku-line">
      <div class="tanzaku-label">
        <div class="tanzaku-input">
          <p><%= post.top %></p>
        </div>
      </div>
    </div>
    <div class="tanzaku-line">
      <div class="tanzaku-label">
        <div class="tanzaku-input">
          <p><%= post.middle %></p>
        </div>
      </div>
    </div>
    <div class="tanzaku-line">
      <div class="tanzaku-label">
        <div class="tanzaku-input">
          <p><%= post.bottom %></p>
        </div>
      </div>
    </div>
    <div class="post-meta text-muted">
      <small class="tanzaku-days"><%= post.updated_at.strftime('%Y年%m月%d日') %></small>
      <small class="tanzaku-name"><%= post.user.name %></small>
    </div>
  </div>
  <% if post.guide.present? %>
    <div class="guide-comment">
      <h4>解説</h4>
      <div style="margin-top: 5%"><%= simple_format(post.guide) %></div>
    </div>
  <% end %>
</div>