<h1>みんなの一句</h1>
<!-- 新規投稿ボタン（フローティングアクションボタン） -->
<%= link_to new_post_path, class: "floating-action-button" do %>
    <i class="bi bi-plus-lg">詠む</i>
<% end %>
<% if @posts.present? %>
    <div class="tanzaku-container">
        <% @posts.each do |post| %>
            <%= link_to post, class: "tanzaku-link" do %>
                <div class="tanzaku">
                    <div class="tanzaku-text">
                        <p><%= post.top %></p>
                        <p><%= post.middle %></p>
                        <p><%= post.bottom %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <p>まだ投稿がありません。</p>
<% end %>
