<h1 class="page-title">みんなの一句</h1>

<!-- ログインしていたら、ボタン表示 -->
<% if current_user.present? %>
    <!-- 新規投稿ボタン（フローティングアクションボタン） -->
    <%= link_to new_post_path, class: "floating-action-button" do %>
        <i class="bi bi-plus-lg">詠む</i>
    <% end %>
<% end%>

<% if @posts.present? %>
    <div class="tanzaku-container">
        <% @posts.each do |post| %>
        <div class="tanzaku-space">
            <div class="tanzaku">
                <%= link_to post, class: "tanzaku-link" do %>
                    <div class="tanzaku-text">
                        <p class="top"><%= post.top %></p>
                        <p class="middle"><%= post.middle %></p>
                        <p class="bottom"><%= post.bottom %></p>
                    </div>
                    <div class="post-meta text-muted">
                        <small class="tanzaku-days"><%= post.updated_at.strftime('%Y年%m月%d日') %></small>
                        <small class="tanzaku-name"><%= post.user.name %></small>
                    </div>
                <% end %>
                <!-- いいね機能 -->
                <div class="like-section">
                <% if current_user %>
                    <% if post.liked_by?(current_user) %>
                    <%= button_to 'よきかな', post_like_path(post), method: :delete, class: 'liked-button' %>
                    <% else %>
                    <%= button_to 'よきかな', post_like_path(post), method: :post, class: 'like-button' %>
                    <% end %>
                <% else %>
                    <small class="like-button">よきかな</small>
                <% end %>
                <%= post.likes_count %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
<% else %>
    <p>まだ投稿がありません。</p>
<% end %>
