<!DOCTYPE html>
<html>
  <head>
    <title>みんなの五七五録</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!--googleフォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <%= link_to "/", class: "site-title-link" do %><h1>みんなの五七五録</h1><% end %>
      <nav>
        <% if current_user.present? %>
          <ul>
            <li><h2 class="nav-link"><%= current_user.name %></h2></li>
            <li><%= link_to logout_path, class: "nav-link" do %><h2>ログアウト</h2><% end %></li>
          </ul>
          <% else %>
            <ul>
              <li><%= link_to users_new_path, class: "nav-link" do %><h2>ユーザー登録</h2><% end %></li>
              <li><%= link_to new_login_path, class: "nav-link" do %><h2>ログイン</h2><% end %><li>
            </ul>
        <% end %>
      </nav>
    </header>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
