<!DOCTYPE html>
<html>
  <head>
    <title>575</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!--googleフォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <%= link_to "/", class: "site-title-link" do %>
        <h1>みんなの五七五録</h1>
      <% end %>
      <%= link_to "/", class: "login-link" do %>
        <h2>ログイン</h2>
      <% end %>
    </header>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
