<!DOCTYPE html>
<html>
  <head>
    <title>575</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>575</h1>
      <nav>
        <ul>
          <%= link_to "トップページ", "/" %>
          <%= link_to "ログイン", "/" %>
          <%= link_to "一覧", posts_path %>
          <%= link_to "新規投稿", new_post_path %>
        </ul>
      </nav>
    </header>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
